.mapa{
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
 
button{
    text-align: right;
    font-family: Tahoma;
    font-size: 1.5vw;
    width:auto;
    background: #f3f3f3;
    border: #286572;
    display: block;
    padding: 8px 8px;
}
.map__image path{
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    transition: fill 0.3s;
}
.mapa_completo{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.mapa_completo h1{  
    color: #ffffff;
    font-family: Tahoma; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    width: fit-content;
}

.sec_tablas{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.sec_tablas h1{
    color: #ffffff;
    font-family: Tahoma; 
    font-size: x-large; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
}

tr td{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
}
.botones_tipo{ 
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    justify-content: center;
}
#genero{
    width: 45%;
    height: 45%;
}
#casos{
    width: 45%;
    height: 45%;
}
#col_button, #bog_button {
    width: fit-content;
    align-self: center;
    margin-top: 9%;
}
.map__image .is-active path{
    fill: #0984CC;
}
#histograma_completo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;    
}
#histograma{
    width: 80%;
}

    table{
        border-collapse:collapse;
        border:1px solid #ffffff;
        width: max-content;
        margin-bottom: 15%;
    }
    
    table td{
        border:1px solid #ffffff;
        border:1px solid #ffffff;
        text-align: center;
        font-family: Tahoma; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
    }

@media (max-width: 900px){
    table{
        border-collapse:collapse;
        border:1px solid #ffffff;
        width: 200%;
        margin-bottom: 15%;
    }
    
    table td{
        border:1px solid #ffffff;
        text-align: center;
        font-family: Tahoma; 
        font-size: smaller; 
        font-style: normal; 
        font-variant: normal; 
    }

    .sec_tablas h1{
        color: #ffffff;
        font-family: Tahoma; 
        font-size: larger; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700;
    }
}